* {
	box-sizing: border-box;
	margin: 0;
	
}
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
    color: #555555;
    line-height: 24px; 
    min-width: 400px;

    
}
header {
	background: #fff;
	
}
#logo {
	 float: left;
    margin-left: 107px;
    padding-top: 4px;
}
.lang-ara {
	color: #FFFFFF;
    background: #209334;
    color: #fff;
    padding: 3px 10px;
    position: relative;
    font-size: 13px;
    top: -3px;
    border-radius: 5px;
}
a.lang-ara:hover {
    background: #209334;
    color: white;
}
nav ul {
	margin-left: : 50px;
}
nav li {
	display: inline-block;
	padding: 23px;
    margin-left: 25px;
	font-weight: bold;
}
nav li a {
	text-decoration: none;
	color: #828f86;
	padding-left: 20px;
	font-weight: 600;

}
nav ul li a:hover {
	color:#209334;
}

.text-slider{
	background-image: url("images/slide_desc.png");
	color: #fff;
    font-size: 22px;
    padding: 10px 10px 10px 15px;
    text-transform: uppercase;
	font-weight: 700;
	position: absolute;
	bottom: 110px;
	left: 0;
}
.slider {
	position: relative;
	height: 400px;
    width: 100%;
    background: url(images/slider3.jpg);
    background-position: 50% 50%;
}
.slider img {
	  background-repeat: no-repeat;
      background-size: auto;
	  max-width: 100%;
     
}
.about-us {
	width: 100%;
    height: 100%;
    background-color: #152160;
   padding: 40px 100px 10px 100px;
}

.heading h2{
	margin-top: 0;
    margin-bottom: 25px;
    font-size: 35px;
    font-weight: 700;
    color: #209334;
    text-align: center;
    
}
.description {
 
    padding-top: 10px;
}
.description ul {
	color: #fff;
    font-size: 15px;
    font-weight: 400;
    padding-left: 25px;
    margin: 32px 0px;
    letter-spacing: 0.3px;
    list-style: none;
    list-style-image: url("images/list-green.png");
    
}
.description ul li {
	margin-bottom: 20px;
}

.arrow li ul li {
	list-style: disc;
}

.left-content{
	float: left;
	width: 50%;
	padding: 29px 15px;

}
.right-content {
	width: 50%;
	float: right;
	/*padding: 64px 74px;*/
}
.right-content img {
	width:300px;
    height: 200px;
   /* margin: 10px auto;*/
    border: 1px solid rgba(204, 204, 204, 0.72);
    box-shadow: 1px 2px 4px -1px rgba(0,0,0,0.25);
    box-sizing: content-box;
}
.our-services{
	width: 100%;
    height: 100%;
    padding: 40px 100px 10px 100px;
    background-color: #FFFFFF;
}
.left-content ul {
	list-style-image: url("images/list-content.png");
	padding-left: 20px;
	color: #5f5f5f;
	font-size: 14px;
	
}
.our-services ul li ul li{
	    list-style: disc;
	
}
.our-services li {
	    margin: 15px 0;
	    /*padding-left: 20px;*/
	    margin: 20px 20px;

}
.services-heading h2{
	 margin-top: 0;
    text-align: center;
    margin-bottom: 25px;
    font-size: 35px;
    font-weight: 700;
}

.clients{
	float: left;
    width: 20%;
    padding: 8px;
    transition: transform 0.5s;
}
.clients a{
	display: block;
    margin: 2px;
    background-color: #FFFFFF;
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc;
    padding: 0px;

}
.heading-clients {
    padding-bottom: 11px;
}

.heading-clients h2{
	text-align: center;
	margin-top: 0;
    margin-bottom: 25px;
    font-size: 35px;
    font-weight: 700;
    color: #454545;
}

.our-clients{
	width: 100%;
    height: 100%;
	margin-left: auto;
	margin-right: auto;
	 
}
.clients-container{
	
    float: left;
    background-color:#F7F7F7;
   padding: 40px 100px 40px 100px;

}
.facilities{
	clear: both;
	padding: 40px 0 40px;
}
.facilities-heading {
    padding-bottom: 15px;
}
.facilities-heading h2{
	text-align: center;
	 margin-top: 0;
    margin-bottom: 25px;
    font-size: 35px;
    font-weight: 700;
    color: #454545;
}
.facilities-container {
	 padding: 0px 100px 0px 100px;
}
.facilities li{
	 list-style-type: disc;
    color: #5f5f5f;
    margin: 15px 0px;

}

.para-images img{
	 width: 22%;
	 margin: 15px;
	 float: left;
     border: 1px solid rgba(204, 204, 204, 0.72);
     box-shadow: 1px 2px 4px -1px rgba(0,0,0,0.25);
}
.img-left img {
    transition: all 0.5s;
    perspective: 1000px;
}
.img-left:hover img {
    transform: rotateY(180deg);
}
/*.chemical-img img {
transition: all 0.5s;
}
.chemical-img:hover img {
    transform: scale(1,0);
}*/
.rotate:hover {
  animation: rotation 8s linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.para-images img {
    transition: all 0.5s;
}
.para-images img:hover {
    transform: scale(1.5); 
}

.parent-items {
	position: relative;
	top: 25px;
}
.list-items-right{

	width: 71%;
}
.list-items-right h4{
	font-size: 18px;
}
.img-left {
	
	position: absolute;
	right: 34px;
	top: 200px;
	/*margin: 20px auto 5px auto;*/

}
.img-left img {
	position: absolute;
	top: 27px;
    right: 0;
    width: 259px;

}
.labco-section {
	background-color: #F7F7F7;
	padding:40px 0 25px 0;
}
.description-labco {
    padding-left: 137px;
    padding-right: 62px;
}
.labco-heading {
    padding-bottom: 13px;
}
.labco-heading h2 {
	text-align: center;
	margin-top: 0;
    margin-bottom: 15px;
    font-size: 35px;
    font-weight: 700;
    color: #454545;
}
.labco-img  {
	text-align: center;
	padding-top: 35px;
	
}
.nobackground {
    background: none !important;
}
.list-disc {
	list-style: disc;
}
.colored-line {
	height: 2px;
    width: 80px;
    display: block;
    margin: auto;
    background: #58B1F2;
}
.green-line {
	height: 2px;
    width: 80px;
    display: block;
    margin: auto;
    background: #209334;
}
.colored-line1 {
	height: 2px;
    width: 80px;
    display: block;
    margin: auto;
    background: #FFFFFF;
}

.labco-footer {
	padding: 40px 158px 5px 272px;
	background-color: #222;
    background-image: url("images/map-image.png");
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    position: relative;
}
.main-footer div {
     
    font-weight: 600;
    font-size: 14px;

}
.footer-heading h2 {
	text-align: center;
	color: #fff;
	margin-top: 0;
    margin-bottom: 15px;
    font-size: 35px;
    font-weight: 700;
}
.left-footer {
	width: 40%;
    height: 300px;
    background: rgba(0,0,0, 0.4);
    padding: 19px 10px 10px 20px;
    color: #fff;
    text-align: left;
    margin-bottom: 20px;
    float: left;
    line-height: 37px;
}
.left-footer h4 {
	    color: #49A4F3;
        font-weight: 600;
}
.map {
	border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 476px;
}

.copyright {
    height: 50px;
    line-height: 50px;
    color: #585858;
    font-weight: 600;
    font-size: 14px;
    padding-left: 50px;
}
.main-footer {
	padding-top: 80px;
    padding-bottom: 80px;
}

.blue-color {
	color: #49A4F3;
    
}
.mail {
	text-decoration: none;
    color: #ffea77;
    padding-left: 3px;
}
.chemical-container ul {
    list-style: disc;
}
.chemical-container {
	width: 71%;
	padding-top: 51px;
}
.chemical-container h4{
	font-size: 18px;
}
.chemical-img img {
    width: 23%;
    float: right;
    position: relative;
    bottom: 167px;
    right: 29px;
}
.font{
	font-weight: 600;
}
#toggle
{
    display: none;
}
.togglearea
{
    background-color: #44A362;
    border-bottom: 2px solid white;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}
.togglearea label
{
    background-color: white;
    height: 45px;
    width: 50px;
    color: black;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.togglearea label span
{
    background-color: black;
    height: 4px;
    width: 70%;
    margin: 2px 0px;
}
.togglearea
{
    display: none;
}
nav
{
    
    display: flex;
    justify-content: center;
    
}
nav a
{
    color: white;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding: 14px 28px;
}
nav a:hover
{
    background-color: white;
    color: black;
}
/*   For 992  screens   */

@media screen and (min-width:769px) and (max-width:992px)
{
    header {
    background: #fff;
    padding: 5px 5px 14px 5px;
}
    #logo {
    float: left;
    margin-left: 51px;
    padding-top: 4px;
}
 nav li {
    display: inline-block;
    padding: 14px;
    font-weight: bold;
}
 .clients {
    float: left;
    width: 33%;
    padding: 8px;
}
.para-images img {
    width: 22%;
    margin: 11px;
}
.img-left {
    position: absolute;
    right: -46px;
    top: 108px;
    
}
.chemical-img img {
    width: 32%;
    float: right;
    position: relative;
    bottom: 281px;
    right: -42px;
}
.left-footer {
    width: 49%;
    height: 300px;
    background: rgba(0,0,0, 0.4);
    padding: 20px 20px 20px 20px;
    color: #fff;
    text-align: left;
    margin-bottom: 20px;
    float: left;
    line-height: 37px;
}
.labco-footer {
    padding: 40px 50px 5px 50px;
 
}

}

@media only screen and (min-width: 100px) and (max-width: 699px) {


.left-content {
    float: left;
    width: 100%;
    padding: 29px 15px;
}
.right-content {
    width: 100%;
    padding: 0px 50px;
}
.clients-container {
    float: left;
    background-color: #F7F7F7;
    padding: 40px 0px 40px 0px;
}
.para-images img {
    width: 100%;
    padding: 11px;
    margin: 15px 0 15px 0px;
}
.chemical-img img {
    width: 100%;
    float: right;
    position: relative;
    bottom: 0;
    right: -19px;
    padding-bottom: 26px;
}
.description-labco {
    padding-left: 50px;
    padding-right: 50px;
}
.chemical-container ul {
    list-style: disc;
    margin: 10px -34px;
}
.list-items-right {

    width: 100%;
}
.chemical-container {
    width: 100%;
    padding-top: 51px;
}
.chemical-container ul {
    list-style: disc;
     margin:0;
}
.labco-img {
    text-align: center;
    padding-top: 35px;
    overflow: hidden;
}
.labco-footer {
    padding: 40px 40px 40px 40px;
    background-color: #222;
    background-image: url(images/map-image.png);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.right-content img {
    width: 100%;
     height: 100%; 
    /* margin: 10px auto; */
    border: 1px solid rgba(204, 204, 204, 0.72);
    box-shadow: 1px 2px 4px -1px rgba(0,0,0,0.25);
    box-sizing: content-box;
}
#logo {
    float: left;
     margin-left: 0;
    padding-top: 4px;
}
}
@media only screen and (min-width: 993px) and (max-width: 1199px) 
{

nav li {
    display: inline-block;
    padding: 19px;
    font-weight: bold;
}
.clients {
    float: left;
    width: 33%;
    padding: 8px;
}
.para-images img {
    width: 21%;
    margin: 15px;
    float: left;
    border: 1px solid rgba(204, 204, 204, 0.72);
    box-shadow: 1px 2px 4px -1px rgba(0,0,0,0.25);
}
.img-left img {
    position: absolute;
    top: -64px;
    right: -74px;
    width: 259px;
}
.chemical-img img {
    width: 259px;
    float: right;
    position: relative;
    bottom: 277px;
    right: -43px;
}

.labco-footer {
    padding: 40px 40px 40px 40px;
    background-color: #222;
    background-image: url(images/map-image.png);
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    position: relative;
}
}

/*    For 768px Screens */

@media screen and (max-width: 768px)
{
   
    .about-us {
    width: 100%;
    height: 100%;
    background-color: #152160;
    padding: 40px 50px 40px 50px;
       }
  nav
   {
    flex-direction: column;
    display: none;
    }
     #toggle:checked + nav
    {
        display: flex;
    }
     .togglearea
     {   
        display: flex;
   }
    nav ul {
    display: contents;
    margin-left: : 50px;
  }
    nav li {
    display: inline-block;
    padding: 4px;
    font-weight: bold;
    text-align: center;
}
#logo {
    float: none;
    padding-top: 4px;
    text-align: center;
}
header {
    background: #fff;
    height: auto;
    line-height: 53px;
}

.our-services {
    width: 100%;
    height: 100%;
    padding: 40px 50px 40px 50px;
    background-color: #FFFFFF;
}
.our-services li {
    margin: 15px 0;
    
}
.clients {
    float: left;
    width: 50%;
    padding: 8px;
}
.img-left {
    position: absolute;
    top: 70px;
}
.img-left img {
    position: absolute;
    top: 42px;
    right: 28px;
    width: 200px;
}

ul.list-new {
    width: 100%;
}
.facilities-container {
    padding: 40px 40px 40px 40px;
}
.left-footer {
    width: 100%;
    height: 300px;
    background: rgba(0,0,0, 0.4);
    padding: 20px 20px 20px 20px;
    color: #fff;
    text-align: left;
    margin-bottom: 20px;
    float: left;
    line-height: 37px;
}
.map {
    border-radius: 10px;
    margin-bottom: 20px;
     margin-left: 0; 
}
.map iframe {
    width: 100%;
}
}


.link {
    transition: 0.3s ease;
    border-top: 4px solid #ffffff;
   border-bottom: 4px solid #ffffff;
   padding: 15px 0;
}
.link:hover {

    border-top: 4px solid #3fa46a;
    border-bottom: 4px solid #3fa46a;
    padding: 7px 0; 
}

.flip-box {
  background-color: transparent;
  width: 300px;
  height: 200px;
 /* border: 1px solid #f1f1f1;*/
  perspective: 1000px;
  margin-top: 45px;

}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;

}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
}

.flip-box-back {
  background-color: #555;
  color: white;
  transform: rotateY(180deg);
}
/*.rotateimg180:hover {
  -webkit-transform:rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}*/

.clients:hover {
  animation: shake 1s;
  animation-iteration-count: infinite;
}

@keyframes shake {
   0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.2,1.2);
    }
    100% {
        transform: scale(1,1);
    }
}

.hover02 figure img {
    width: 300px;
    height: auto;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.hover02 figure:hover img {
    width: 350px;
}


